.textColor {
    color: red;
}

.text-size {
    font-size: 110px;
    font-weight: bold;
}

.danger {
    color: rgb(59, 29, 255);
}

.box-color {
    background-color: red;
    width: 100px;
    height: 100px;
}